main {
    margin-top: 20px;
}

form {
    width: 40%;
    margin: auto;
}

input, textarea {
    width: 100%;
    font-size: 20px;
}

button {
    background: rgb(255, 217, 0);
    border: 2px solid black;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    color: rgb(255, 217, 0);
    background: black;
}